<p id="notice"><%= notice %></p>


<p>
  <strong>Newdrawing:</strong>
  <%= @drawing.newdrawing %>
</p>

<p>
  <strong>Olddrawing:</strong>
  <%= @drawing.olddrawing %>
</p>

<p>
  <strong>Year:</strong>
  <%= @drawing.year %>
</p>

<p>
  <strong>Description:</strong>
  <%= @drawing.description %>
</p>

<p>
  <strong>Width:</strong>
  <%= @drawing.width %>
</p>

<p>
  <strong>Length:</strong>
  <%= @drawing.length %>
</p>

<p>
  <strong>Shape:</strong>
  <%= @drawing.shape %>
</p>

<p>
  <strong>Subset:</strong>
  <%= @drawing.subset %>
</p>

<p>
  <strong>Step:</strong>
  <%= @drawing.step %>
</p>

<p>
  <strong>Widthinches:</strong>
  <%= @drawing.widthinches %>
</p>

<p>
  <strong>Lengthinches:</strong>
  <%= @drawing.lengthinches %>
</p>

<p>
  <strong>Brand:</strong>
  <%= @drawing.brand %>
</p>

<%= link_to 'Edit', edit_drawing_path(@drawing) %> |
<%= link_to 'Back', drawings_path %>
